Source/Workflows/PosttoTeamswhennewscenarioissubmitted-226A7C88-2E22-EC11-B6E6-000D3A4D7C9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tlc_sharedteams_ea2db"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tlc_sharedcommondataserviceforapps_ef4d7"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "New Request Alert Channel (tlc_NewRequestAlertChannel)": {
          "defaultValue": "19:9b3390f9b3ff4eb0821164774eeaae35@thread.tacv2",
          "type": "String",
          "metadata": {
            "schemaName": "tlc_NewRequestAlertChannel"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "189e793d-7977-4784-8c18-c0e9ced57b66"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "tlc_scenario",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Post_adaptive_card_in_review_board_channel": {
          "runAfter": {
            "Get_Sponsor_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0db2cea-75cb-43ff-83ab-a0bf1524d046"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostCardToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Channel",
              "body/recipient/groupId": "fc20461a-f388-44b7-8291-e4c711631a48",
              "body/recipient/channelId": "@parameters('New Request Alert Channel (tlc_NewRequestAlertChannel)')",
              "body/messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Large\",\n            \"weight\": \"Bolder\",\n            \"text\": \"New Scenario Summited for Review\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"size\": \"Small\",\n                            \"url\": \"https://www.pikpng.com/pngl/m/258-2582087_png-transparent-daily-mindfulness-matrix-mind-atlas-think.png\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"@{outputs('Get_Sponsor_Name')?['body/fullname']}\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"Created on: @{triggerOutputs()?['body/createdon']}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"wrap\": true,\n            \"text\": \"@{triggerOutputs()?['body/tlc_name']} has been submitted and is ready for review by the Cross Cloud Solution Review Board in order to to align with the appropriate offering. Click the button below to see the details of the submission. \"\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Customer & TPID\",\n                    \"value\": \"@{triggerOutputs()?['body/tlc_customertext']}\"\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"More Details\",\n            \"url\": \"https://teams.microsoft.com/l/channel/19%3AVZvuSWaqpI8YfBoCJ9wg5dMDhdIHaybmn6BgS7dzaZ41%40thread.tacv2/tab%3A%3Af34317c6-56db-4bca-bf86-6350b63d1085?groupId=fc20461a-f388-44b7-8291-e4c711631a48&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&allowXTenantAccess=false\",\n            \"style\": \"positive\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Sponsor_Name": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1e001e71-35e6-478c-b958-9957c20bb767"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_tlc_scenariosponsorid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_thank-you_message_to_submitter": {
          "runAfter": {
            "Post_adaptive_card_in_review_board_channel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "78fdd478-844d-4aea-9e47-bdaac5fc5706"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Chat with Flow bot",
              "body/recipient": "@{outputs('Get_Sponsor_Name')?['body/internalemailaddress']};",
              "body/messageBody": "<p>You've successfully submitted your request \"@{triggerOutputs()?['body/tlc_name']}\".<br>\n<br>\nWhat happens next?<br>\n<br>\nThe request will be reviewed for fit to the most appropriate offering. You will receive more information in a follow-up email. In the meantime, you can continue update and add notes to your submission.<br>\n<br>\nThanks!</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}